

p:hover{
	background-color: yellow; /* basic properties of the html document*/
	 
}

h1{
	margin-bottom: 85px;     /* basic properties of the html document*/
	font-size:225%;
}

@media(min-width:992px){     /* For Laptops*/
#div1{overflow:auto;
	float:left;
	margin-left: 2.5%;
	margin-right: 2.5%; 
	border:1px solid black;
	background-color:grey;
width:30%;
height:250px;}

#box1{font-size:125%;
	float:right;
	align-self: right;

padding:5px;
	border:1px solid black;
background-color:pink;
width:100px;
height:30px;
text-align: center;
margin-bottom: 15px;
}
p{clear: right;}

#div2{float:left;
	overflow:auto;

	
	margin-right:2.5%; 
	border:1px solid black;
	background-color:grey;
width:30%;
height:250px;
}

#box2{color: white;
	font-size:125%;
	float:right;
	align-self: right;

padding:5px;
	border:1px solid black;
background-color:red;
width:100px;
height:30px;
text-align: center;
margin-bottom: 15px;
}
p{clear: right;}

#div3{float:left;
	
margin-right:2.5%;
	margin:auto; 
	border:1px solid black;
	background-color:grey;
width:30%;
height:250px;
overflow:auto;}

#box3{font-size:125%;
	float:right;
	align-self: right;

padding:5px;
	border:1px solid black;
background-color:yellow;
width:100px;
height:30px;
text-align: center;
margin-bottom: 15px;
}
p{clear: right;}
}

@media(min-width:768px) and (max-width:991px){      /*For tablets or medium sized machines*/
#div1{
	float:left;
	margin-left:0.66666666%;
	margin-bottom: 10px; 
	border:1px solid black;
	background-color:grey;
width:48%;
height:250px;
overflow:auto; }

#box1{font-size:125%;
	float:right;
	align-self: right;

padding:5px;
	border:1px solid black;
background-color:pink;
width:100px;
height:30px;
text-align: center;
margin-bottom: 15px;
}
p{clear: right;}

#div2{float:left;
	
margin-bottom: 10px;
	margin-left:0.6666666%;
	margin-right: 0.66%; 
	border:1px solid black;
	background-color:grey;
width:48%;
height:250px;
overflow: auto;}

#box2{color: white;
	font-size:125%;
	float:right;
	align-self: right;

padding:5px;
	border:1px solid black;
background-color:red;
width:100px;
height:30px;
text-align: center;
margin-bottom: 15px;      /*peer page URL=="https://tonatiuhwarrior.github.io/responsive_module_2/ */
}
p{clear: right;}

#div3{float:left;
	
margin-right:1%;
	margin-left: 0.666666%;
	margin-right:0.666666%; 
	border:1px solid black;
	background-color:grey;
width:96.9%;
height:250px;
overflow: :auto;
}

#box3{font-size:125%;
	float:right;
	align-self: right;

padding:5px;
	border:1px solid black;
background-color:yellow;
width:100px;
height:30px;
text-align: center;
margin-bottom: 15px;
}
p{clear: right;}
}

@media(max-width:767px){     /*For small devices like mobile*/
#div1{
	
	margin:10px; 
	border:1px solid black;
	background-color:grey;
width:95%;
height:250px;
overflow: auto;}

#box1{font-size:125%;
	float:right;
	align-self: right;

padding:5px;
	border:1px solid black;
background-color:pink;
width:100px;
height:30px;
text-align: center;
margin-bottom: 15px;
}
p{clear: right;}

#div2{
	

	margin: 10px; 
	border:1px solid black;
	background-color:grey;
width:95%;
height:250px;
overflow:auto;}

#box2{color: white;
	font-size:125%;
	float:right;
	align-self: right;

padding:5px;
	border:1px solid black;
background-color:red;
width:100px;
height:30px;
text-align: center;
margin-bottom: 15px;
}
p{clear: right;}

#div3{float:left;
	
margin:10px;
	margin-left: 10px; 
	border:1px solid black;
	background-color:grey;
width:95%;
height:250px;
overflow:auto;
}

#box3{font-size:125%;
	float:right;
	align-self: right;

padding:5px;
	border:1px solid black;
background-color:yellow;
width:100px;
height:30px;
text-align: center;
margin-bottom: 15px;
}
p{clear: right;}
}
